.container{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
      
}
.heading-2{
    text-align: center;
    margin-top: 85px;
}
input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 300px;
  }
 .login-btn{
    height: 30px;
    background-color: rgb(12, 133, 173);
    color: white;
    border-radius: 4px;
    width: 60px;
 }
 .login-space{
    display: inline-flex;
    /* height:30px; */
 }
    
 
 input[type=password] {
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
   width: 300px;
 }
 input[type=submit] {
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
   width: 300px;
   
 }
 .pass{
    padding-bottom: 20px;
 }
 .login{
padding-bottom: 10px;
 }
 .show{
    padding-top: 25px;
    padding-left: 5px;
 }
 body{
    background-color: darkgrey;
 }
 .form{
    background-color: #fff;
    background-color: #fff;
    width: 375px;
    margin-left: 37%;
    height: 400px;
}
 
 